altair
beautifulsoup4
bottleneck
cloudpickle
dask
dill
h5py
numexpr
numba
pandas
patsy
pip-tools
protobuf
tables
scikit-image
scikit-learn
scipy
seaborn
sqlalchemy
sympy
ipywidgets
ipympl
breathe
sphinx
Jinja2
jupyter-server-fileid
jupyter-server-mathjax
jupyter-server-terminals
jupyter-server-proxy
jupyter-vscode-proxy
jupyter-server-ydoc
jupyterlab
jupyterlab-git
jupyterlab-widgets
jupyterhub
